/* You can add global styles to this file, and also import other style files */
$color-1: #FCF6BD;
$color-2: #D0F4DE;
$color-3: #A9DEF9;
$color-4: #E4C1F9;

.color-1 {
    background-color: $color-1;
}

.color-2 {
    background-color: $color-2;
}

.color-3 {
    background-color: $color-3;
}

.color-4 {
    background-color: $color-4;
}