/* You can add global styles to this file, and also import other style files */
$color-1: #fffdf0;
$color-2: #edfcf2;
$color-3: #f2fbff;
$color-4: #fbf5ff;

.color-1 {
    background-color: $color-1;
}

.color-2 {
    background-color: $color-2;
}

.color-3 {
    background-color: $color-3;
}

.color-4 {
    background-color: $color-4;
}